<div ng-controller="billing_history" ng-show="!current_user.is_admin">

	<ul class="breadcrumb">
        <li>
            <p>YOU ARE HERE</p>
        </li> 
        <li><a href="#" class="active">Billing Logs</a>
        </li>
    </ul>
	<div class="page-title">	
		<a href="" ng-click="goBack();"><i class="icon-custom-left"></i></a>
        <h3>Billing - <span class="semi-bold">Logs</span></h3>	
    </div>
    <div class="row">
    	
	    <div class="col-md-12">
	        <div class="grid simple ">

	            <div class="grid-body no-border">
	            	<br/>
	            	<div ng-show="dump.message" class="alert {{dump.type}}">
				        <button class="close" ng-click="dump={}"></button>
				        {{dump.message}}
				      </div>
	            	<h3>Billing  <span class="semi-bold">Logs</span></h3>
	                  
	                    <table class="table no-more-tables">
	                        <thead>
	                            <tr>
	                            	<th style="width:10%">Amount</th>
	                                <th style="width:15%">Username</th>
	                                <th style="width:25%">Email</th>
	                                <th style="width:15%">Plan</th>
	                                <th style="width:20%">Cycle</th>
	                                <th style="width:15%">Created</th>
	                            </tr>
	                        </thead>
	                        <tbody  style="border:none">
	                        	<tr ng-repeat="log in logs"> 
	                        		<td class="v-align-middle">{{log.amount|currency}}</td>
		                           <td class="v-align-middle">{{log.username}}</td>
		                           <td class="v-align-middle">{{log.email}}</td>
		                           <td class="v-align-middle">{{log.plan}}</td>
		                       		<td class="v-align-middle">{{log.cycle}}</td>
		                       		<td class="v-align-middle">{{log._kmd.ect|date:'mediumDate'}}</td>
	                            </tr>
	                        </tbody>
	                    </table>
	            </div>
	        </div>
	    </div>
	</div>
</div>