<div ng-controller="location"  ng-class="{'visible':current_user.plan.contact_location,'notvisible':!current_user.plan.contact_location}" >

	<ul class="breadcrumb">
        <li>
            <p>YOU ARE HERE</p>
        </li> 
        <li><a href="#/location" class="active">location</a>
        </li>
    </ul>
	<div class="page-title">	
		<a href="" ng-click="goBack();"><i class="icon-custom-left"></i></a>
        <h3>Dashboard</h3>	
    </div>
    <div class="row">
    	
	    <div class="col-md-12">
	        <div class="grid simple ">

	            <div class="grid-body no-border">
	            	<br/>
	            	
	            	<h3>Location</h3>
	            	<br/>
	            	<div ng-show="dump.message" class="alert {{dump.type}}">
				        <button class="close" ng-click="dump={}"></button>
				        {{dump.message}}
				      </div>
				    <form ng-init="show_marker=false;" name="listings_form" id="listings_form" action="" method="post" >
				    	<div class="row form-row  xs-m-l-10 xs-m-r-10">
	                      <div class="col-md-10">
							<div class="input-with-icon right">
							    <i class="fa fa-map"></i>
							    <input ng-model="search_location"  type="text"  class="form-control" placeholder="Search for your location"/>
							</div>
	                      </div>
	                      <div class="col-md-2">
								<a href="" ng-click="search();" class="btn btn-primary">Search</a>
	                      </div>
	                    </div>
	                 	<google-map center="map.center" zoom="map.zoom" draggable="true">
	                 		<marker  coords='marker' options="{draggable:true}" events="{dragend:change_marker_address}"></marker>

	                 		<marker  coords='address_item' options="{icon:'img/icon/marker.png'}" ng-repeat="address_item in page.addresses">
	                 			<window  options="{'content':address_item.address+', '+ address_item.suburb+', '+ address_item.state+', '+ address_item.postcode+', '+ address_item.country}"  isIconVisibleOnClick='false' closeClick='true'> </window>
	                 		</marker>
	                 		

	             		</google-map>
	                 	
	                 	<div class="row form-row  xs-m-l-10 xs-m-r-10" ng-init="address={}">
	                      <div class="col-md-4">
							    <input ng-model="address.address"  type="text"  class="form-control" placeholder="Address"/>
	                      </div>
	                      <div class="col-md-4">
							    <input ng-model="address.suburb"  type="text"  class="form-control" placeholder="Suburb"/>
	                      </div>
	                      <div class="col-md-4">
							    <input ng-model="address.postcode"  type="text"  class="form-control" placeholder="Postcode"/>
	                      </div>
	                      
	                    </div>
	                    <div class="row form-row  xs-m-l-10 xs-m-r-10">
	                      <div class="col-md-4">
							    <input ng-model="address.state"  type="text"  class="form-control" placeholder="State"/>
	                      </div>
	                      <div class="col-md-4">
							    <input ng-model="address.country"  type="text"  class="form-control" placeholder="Country"/>
	                      </div>
	                      <div class="col-md-4">
							   <a  href="" ng-click="save_address()" class="btn  btn-success">Save Address</a>
	                      </div>
	                      
	                    </div>
	                    <br/>
	                    <div class="notification-messages info">
	                    	<table class="table no-more-tables">
		                        <thead>
		                            <tr>
		                                <th style="width:15%">Address</th>
		                                <th style="width:10%">latitude</th>
		                                <th style="width:15%">Longitude</th>
		                                <th style="width:15%">Edit</th>
		                            </tr>
		                        </thead>
		                        <tbody ng-repeat="address_item in page.addresses" style="border:none">
		                        	
		                        	<tr >
			                            <td class="v-align-middle">{{address_item.address}}</td>
			                            <td class="v-align-middle">{{address_item.latitude}}</td>
			                            <td class="v-align-middle">{{address_item.longitude}}</td>

			                            
			                          
			                            <td class="v-align-middle">
			                            	<span ng-show="$index>0" class="btn-group">
			                            	
			                            	<span ng-click="confirm_delete=true" class="btn btn-danger"><i class="fa fa-times"></i></span>
			                            	</span>
			                            </td>
			                            
			                            
		                            </tr>
		                            <tr  ng-show="confirm_delete" ng-show="$index>0">
		                            	<td colspan="4">
		                            		<div class="alert alert-error">
							                  <button class="close" ng-click="confirm_delete=false;"></button>
							                  Please confirm delete process.
							                  <button ng-click="delete($index);confirm_delete=false;" class="btn btn-danger btn-sm btn-small pull-right" type="button">Confirm Delete</button>
							                </div>
		                            	</td>
		                            </tr>
		                            
		                        </tbody>
		                    </table>
	                    </div>
						<br/>
						
	        		</form>
	        </div>
	    </div>
	</div>
</div>
</div>
<div ng-controller="location" ng-show="!current_user.plan.contact_location">
	    <div class="row">
		    <div class="col-md-12">
		        <div class="grid simple ">
		            <div class="grid-body no-border">
		            	<br/>
		            	<br/>
		            	<!-- <div class="alert alert-error">
							You don't have permission to view this page {{current_user.username}}
						</div> -->
		        	</div>
		    	</div>
			</div>
		</div>
</div>