<div ng-controller="videos" ng-show="current_user.plan.video_uploads">

	<ul class="breadcrumb">
        <li>
            <p>YOU ARE HERE</p>
        </li> 
        <li><a href="#/videos" class="active">Videos</a>
        </li>
    </ul>
	<div class="page-title">	
		<a href="" ng-click="goBack();"><i class="icon-custom-left"></i></a>
        <h3>Dashboard</h3>	
    </div>
    <div class="row">
    	
	    <div class="col-md-12">
	        <div class="grid simple ">

	            <div class="grid-body no-border">
	            	<br/>
	            	
	            	<h3>Upload Videos <div class="label">(limit of one video)</div></h3>
	            	<br/>
	            	<div ng-show="dump.message" class="alert {{dump.type}}">
				        <button class="close" ng-click="dump={}"></button>
				        {{dump.message}}
				      </div>
				    <form name="videos_form" action="" method="post" ng-submit="save_page();">
	                  <div class="row form-row ">
	                    <div class="row form-row  xs-m-l-10 xs-m-r-10">
	                      <div class="col-md-6">
	                      	<div class="video_item">
	                      		<img ng-show="page.youtube_image&&page.youtube_video" ng-src="{{page.youtube_image}}" alt="">
	                      	</div>
	                      	
							<div class="input-with-icon right">
							    <i class="fa fa-youtube"></i>
							    <input ng-disabled="page.vimeo_video" ng-model="page.youtube_video" ng-change="show_image('youtube')"  type="text"  class="form-control" placeholder="Youtube Video URL"/>
							</div>
	                      </div>
	                      
	                      <div class="col-md-6">
	                      	<div class="video_item">
	                      		<img ng-show="page.vimeo_image" ng-src="{{page.vimeo_image}}" alt="">
	                      	</div>
							<div class="input-with-icon right">
							    <i class="fa  fa-vimeo-square"></i>
							    <input ng-disabled="page.youtube_video" ng-model="page.vimeo_video" ng-change="show_image('vimeo')"  type="text"  class="form-control" placeholder="Vimeo Video URL"/>
							</div>
	                      </div>
	                    </div> 
	                     
	                     
						<div style="text-align:center;margin-top:20px">
							<button class="btn  btn-success" type="submit" ng-disabled="company_info_form.$invalid"><i ng-show="loading" class="fa fa-spinner fa-spin"></i> Save</button>
						</div>
                   
                    <br/>
                    
	            
	                    
	            </div>
	        </form>
	        </div>
	    </div>
	</div>
</div>
</div>
<div ng-controller="videos" ng-show="!current_user.plan.video_uploads">
	    <div class="row">
		    <div class="col-md-12">
		        <div class="grid simple ">
		            <div class="grid-body no-border">
		            	<br/>
		            	<br/>
		            	<!-- <div class="alert alert-error">
							You don't have permission to view this page {{current_user.username}}
						</div> -->
		        	</div>
		    	</div>
			</div>
		</div>
</div>
