<div ng-controller="page_typesCtrl">
    <div class="clearfix"></div>
    <div class="alert {{dump.type}}" ng-show="dump.message">{{dump.message}}</div>
    <div class="grid">
        <div class="grid-title">
            <div class="pull-left">
                <span>Manage Page Types</span>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="grid-content overflow">
            <a href="#/page_types/add/" class="btn btn-primary pull-right">
              Add Type
            </a>
            <div class="clear">
                <!---->
            </div>
            <br/>
            <div class="alert" ng-show="page_types.length==0">
                No items matching selected criteria.
            </div>
            <table class="table table-bordered table-mod-2" ng-show="page_types.length>0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Page type</th>
                        <th width="100">Require</th>
                        <th>Description</th>
                        <th width="100">Actions</th>
                    </tr>
                </thead>
                <tbody ng-repeat="type in page_types">
                    <tr>
                        <td>{{type._id}}</td>
                        <td>{{type.name}}</td>
                        <td>
                            <select ng-change="change_require(type)" ng-model="type.require" ng-options="item as item for item in require" >
                                <option value="">Require</option>
                            </select>
                        </td>
                        <td>{{type.description}}</td>
                        <td>
                            <div class="btn-group">
                                <a href="#/page_types/edit/{{type._id}}" class="btn">
                      Edit
                    </a>
                                <span ng-click="delete_confirm=true" class="btn btn-danger">
                                    Delete
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="delete_confirm">
                        <td colspan="3">
                            <div class="alert">
                                Are you sure you want to delete this item?
                                <span class="btn-group">
                                    <span ng-click="delete($index)" class="btn btn-danger">Yes, sure</span>
                                    <span ng-click="delete_confirm=false;" class="btn btn-default">Cancel</span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
    </div>
</div>