<div ng-controller="device_featuresCtrl">
    <div class="clearfix"></div>
    <div class="alert {{dump.type}}" ng-show="dump.message">{{dump.message}}</div>
    <div class="grid">
        <div class="grid-title">
            <div class="pull-left">
                <span>Manage Device Features</span>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="grid-content overflow">
            <a href="#/device_features/add/" class="btn btn-primary pull-right">
              Add Feature
            </a>
            <div class="clear">
                <!---->
            </div>
            <br/>
            <div class="alert" ng-show="device_features.length==0">
                No items matching selected criteria.
            </div>
            <table class="table table-bordered table-mod-2" ng-show="device_features.length>0">
                <thead>
                    <tr>
                    	<th>Device Name</th>
                    	<th>Description</th>
                    	<th>Attribute Name</th>
                    	<th>Image</th>
                    	<th>Last Updated</th>
                        <th width="100">Actions</th>
                    </tr>
                </thead>
                <tbody ng-repeat="feature in device_features">
                    <tr>
                    	<td>{{feature.device_name}}</td>
                    	<td>{{feature.description}}</td>
                    	<td>{{feature.attribute_name}}</td>
                    	<td>{{feature.image}}</td>
                    	<td>{{feature._kmd.lmt}}</td>
                        <td>
                            <div class="btn-group">
                                <a href="#/device_features/edit/{{feature._id}}" class="btn">
                      Edit
                    </a>
                                <span ng-click="delete_confirm=true" class="btn btn-danger">
                                    Delete
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="delete_confirm">
                        <td colspan="6">
                            <div class="alert">
                                Are you sure you want to delete this item?
                                <span class="btn-group">
                                    <span ng-click="delete($index)" class="btn btn-danger">Yes, sure</span>
                                    <span ng-click="delete_confirm=false;" class="btn btn-default">Cancel</span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
    </div>
</div>