<div ng-controller="supported_devices_editCtrl">
    <div class="clearfix"></div>
    <div class="alert {{dump.type}}" ng-show="dump.message">{{dump.message}}</div>
    <div class="grid">
        <div class="grid-title">
            <div class="pull-left">
                <span>Edit Device</span>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="grid-content overflow">
            <a href="#/supported_devices/" class="btn btn-primary pull-right">
                Return to Supported Devices
            </a>
            <div class="clear">
                <!---->
            </div>
            <br/>
            <div class="span4">
                <div class="form-horizontal">
                    <div class="formRow">
                        <label>Name</label>
                        <div class="formRight">
                            <input type="text" ng-model="device.name" class="span4">
                        </div>
                    </div>
                    
                   <div class="formRow">
                        <label>Device theme specific override</label>
                        <div class="formRight">
                            <select class="span4" ng-model="device.theme" ng-options="theme.name as theme.name for theme in themes">
                                <option value="">None</option>
                            </select>
                        </div>
                    </div>
                    <div class="formRow">
                        <label>Assign Device to Default Discovery Platform</label>
                        <div class="formRight">
                            <select class="span4" ng-model="device.platform" ng-options="platform.name as platform.name for platform in platforms">
                                <option value="">None</option>
                            </select>
                        </div>
                    </div>
                    
                    <br/>
                    <br/>
                    <div class="formRow">
                        <label></label>
                        <div class="formRight">
                            <span class="btn btn-primary" ng-click="edit()">
                                Update Device
                            </span>
                        </div>
                    </div>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>