<div ng-controller="manage_user_groups_editCtrl">
    <div class="clearfix"></div>
    <div class="alert {{dump.type}}" ng-show="dump.message">{{dump.message}}</div>
    <div class="grid">
        <div class="grid-title">
            <div class="pull-left">
                <span>Add Group</span>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="grid-content overflow">
            <a href="#/manage_user_groups/" class="btn btn-primary pull-right">
          		Return to Users Groups
          	</a>
            <div class="clear">
                <!---->
            </div>
            <br/>
            <div class="span4">
                <div class="form-horizontal">
                    <div class="formRow">
                        <label>Name</label>
                        <div class="formRight">
                            <input type="text" ng-model="group.name" class="span4">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/> <br/><br/>
                    <h5>Group Permissions</h5>
                    
                    <div class="formRow">
                        <label>Can View</label>
                        <div class="formRight">
                            <select multiple="true" ng-model="group.can_view" ng-options="module.module as module.module for module in modules ">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="formRow">
                        <label>Can Add</label>
                        <div class="formRight">
                            <select multiple="true" ng-model="group.can_add" ng-options="module.module as module.module for module in modules ">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="formRow">
                        <label>Can Edit</label>
                        <div class="formRight">
                            <select multiple="true" ng-model="group.can_edit" ng-options="module.module as module.module for module in modules ">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="formRow">
                        <label>Can Delete</label>
                        <div class="formRight">
                            <select multiple="true" ng-model="group.can_delete" ng-options="module.module as module.module for module in modules ">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    
                    <br/>
                    <br/>
                    <div class="formRow">
                        <label></label>
                        <div class="formRight">
                            <span class="btn btn-primary" ng-click="edit()">
                                Update Group
                            </span>
                        </div>
                    </div>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>