<div ng-controller="app_figuresCtrl">
    <div class="clearfix"></div>
    <div class="alert {{dump.type}}" ng-show="dump.message">{{dump.message}}</div>
    <div class="grid" >
        <div class="grid-title">
            <div class="pull-left">
                <span>App Figures Settings</span>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="grid-content overflow">
           
            <div class="clear">
                <!---->
            </div>
            <br/>
            <div >
                <div class="form-horizontal">
                    <div class="formRow">
                        <label>Application ID</label>
                        <div class="formRight">
                            <input type="text" ng-model="settings.appfigures.app_id" class="span4">
                        </div>
                    </div>
                    <div class="formRow">
                        <label>Client Key</label>
                        <div class="formRight">
                            <input type="text" ng-model="settings.appfigures.client_key" class="span4">
                        </div>
                    </div>
        
                    <div class="formRow">
                        <label>Username</label>
                        <div class="formRight">
                            <input type="text" ng-model="settings.appfigures.username" class="span4">
                        </div>
                    </div>
                     <div class="formRow">
                        <label>Password</label>
                        <div class="formRight">
                            <input type="password" ng-model="settings.appfigures.password" class="span4">
                        </div>
                    </div>
                    <div class="formRow">
                        <label>API URL</label>
                        <div class="formRight">
                            <input type="text" ng-model="settings.appfigures.api_url" class="span4">
                        </div>
                    </div>
                    <div class="formRow">
                      
                        <div class="formRight form-inline">
                            <label class="inline checkbox">
                                <input  ng-model="settings.appfigures.income" type="checkbox">Income
                            </label>
                            <label class="inline checkbox">
                                <input ng-model="settings.appfigures.downloads" type="checkbox">Downloads
                            </label>
                            <label class="inline checkbox">
                                <input checked="checked"  ng-model="settings.appfigures.reviews" type="checkbox">Reviews
                            </label>
                            <label class="inline checkbox">
                                <input checked="checked"  ng-model="settings.appfigures.countries" type="checkbox">No of Countries ranking
                            </label>
                        </div>
                    </div>
                    <div class="formRow">
                      <label>Showon Dashboard</label>
                        <div class="formRight form-inline">
                            <input type="radio" ng-checked="settings.appfigures.show_in_dashboard" ng-model="settings.appfigures.show_in_dashboard"  >
                                <label ><span></span>Yes</label>  
                            <input ng-checked="!settings.appfigures.show_in_dashboard" ng-model="settings.appfigures.show_in_dashboard"  type="radio"  >
                                <label ><span></span>no</label>
                           
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="formRow">
                        <label></label>
                        <div class="formRight">
                            <span class="btn btn-primary" ng-click="save()">
                                Save Settings
                            </span>
                        </div>
                    </div>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>