<div ng-controller="email_editCtrl">
    <div class="clearfix"></div>
    <div class="alert {{dump.type}}" ng-show="dump.message">{{dump.message}}</div>
    <div class="grid">
        <div class="grid-title">
            <div class="pull-left">
                <span>Edit Email Template</span>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="grid-content overflow">
            <a href="#/email/" class="btn btn-primary pull-right">
          		Return to Email Templates Management
          	</a>
            <div class="clear">
                <!---->
            </div>
            <br/>
            <div class="span4">
                <div class="form-horizontal">
                    <div class="formRow">
                        <label>Name</label>
                        <div class="formRight">
                            <input type="text" ng-model="template.name" class="span4">
                        </div>
                    </div>
                    <div class="formRow">
                        <label>Template</label>
                        <div class="formRight">
                            <textarea ng-model="template.description" style="height:150px" class="span4"></textarea>
                        </div>
                    </div>
                    <div class="formRow">
                        <label>Status</label>
                        <div class="formRight">
                            <label class="inline radio">
                                <input ng-checked="template.status=='approved'" value="approved" ng-model="template.status" type="radio">Approved
                            </label>
                            <label class="inline radio">
                                <input ng-checked="template.status=='deny'" value="deny" ng-model="template.status" type="radio">Deny
                            </label>
                            <label class="inline radio">
                                <input ng-checked="template.status=='pending'" checked="checked" value="pending" ng-model="template.status" type="radio">Pending
                            </label>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="formRow">
                        <label></label>
                        <div class="formRight">
                            <span class="btn btn-primary" ng-click="edit()">
                                Update Template
                            </span>
                        </div>
                    </div>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>